      <!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>Sobre</h1>
      </section>

      <section class="content">
          <p class="lead">
            TôFamito | Uma aplicação em Angular.
          </p>
          <p class="lead">O que é?</p>
          <p class="lead">
            É uma praça de alimentação virtual, comparada a Ifood, UberEats etc..
          </p>
          <p class="lead">
            Qual Propósito?
          </p>

          <p class="lead">
              Este projeto é destinado a demonstrar minha( <a href="https://github.com/Ilivanilton">@ilivanilton</a> ) evolução profissional no desenvolvimento de aplicações SPA utilizando o framework Angular e o uso da plataforma GitHub, bem como a disseminação do conhecimento técnico por meio de código compartilhado. Logo, Pull Requests serão aceitos.
          </p>



        </section>
    <!-- FIM DO CONTEÚDO -->